<?xml version="1.0"?>
<model>
  <name>Learning Quadrotor</name>
  <version>0.1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <author><name>Ashraf Faraj</name><email>ashraffaraj1999-wq@users.noreply.github.com</email></author>
  <description>1.5 kg X quadrotor with four dynamic rotors and onboard IMU.</description>
</model>
